<html>
<head>

	<link rel="stylesheet" type="text/css" href="Templates/style.css">
    <link rel="stylesheet" type="text/css" href="Templates/home.html">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


		{% if title %}
			<title>How about a break- { title }}</title>
		{% else %}
			<title>How about a break  {{ title }}</title>
		{% endif %}
		{% if title %}
			<title>How about a break {{ title }}</title>
		{% else %}
			<title>How about a break  {{ title }}</title>
		{% endif %}
	 <h1>Products</h1>
	</head>
	<body>
			<div class="b">
	 			<h1 class="">Flash sale is on book now!</h1></div>
	 				
			
    <div class="container padding-top text-center">
      <h2>Call 0800 455 6787</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card" style="width: 100%">
            <img src="https://images.unsplash.com/photo-1477649826131-b6c2d84043c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Maldives</h5>
              <p class="card-text">14nights All Inclusive holidays, flights and Transfers included please complete payments 45 days before travel for any enquiries please contact the booking team.</p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card" style="width: 100%">
            <img src="https://images.unsplash.com/photo-1489620269093-92fd5bf3d4aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1780&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Maldives</h5>
              <p class="card-text">14nights All Inclusive holidays, flights and Transfers included please complete payments 45 days before travel for any enquiries please contact the booking team.</p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card" style="width: 100%">
            <img src="https://images.unsplash.com/photo-1470214203634-e436a8848e23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1191&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Maldives</h5>Mexico     <p class="card-text">14nights All Inclusive holidays, flights and Transfers included please complete payments 45 days before travel for any enquiries please contact the booking team.</p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card" style="width: 100%">
            <img src="https://images.unsplash.com/photo-1582719508461-905c673771fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mexico</h5>
              <p class="card-text">14nights All Inclusive holidays, flights and Transfers included please complete payments 45 days before travel for any enquiries please contact the booking team.</p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card" style="width: 100%">
            <img src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mexico</h5>
              <p class="card-text">14nights All Inclusive holidays, flights and Transfers included please complete payments 45 days before travel for any enquiries please contact the booking team.</p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card" style="width: 100%">
            <img src="https://images.unsplash.com/photo-1571003123894-1f0594d2b5d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=687&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mexico</h5>
              <p class="card-text">14nights All Inclusive holidays, flights and Transfers included please complete payments 45 days before travel for any enquiries please contact the booking team.</p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card" style="width: 100%">
            <img src="https://images.unsplash.com/photo-1528916138893-06acfc566dea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=562&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cuba</h5>
              <p class="card-text">14nights All Inclusive holidays, flights and Transfers included please complete payments 45 days before travel for any enquiries please contact the booking team.</p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card" style="width: 100%">
            <img src="https://images.unsplash.com/photo-1542314831-068cd1dbfeeb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cuba</h5>
              <p class="card-text">14nights All Inclusive holidays, flights and Transfers included please complete payments 45 days before travel for any enquiries please contact the booking team.</p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card" style="width: 100%">
            <img src="https://images.unsplash.com/photo-1553653924-39b70295f8da?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cuba</h5>
              <p class="card-text">14nights All Inclusive holidays, flights and Transfers included please complete payments 45 days before travel for any enquiries please contact the booking team.</p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card" style="width: 100%">
            <img src="https://images.unsplash.com/photo-1518558177271-f75b99ebe8fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dubai</h5>
              <p class="card-text">14nights All Inclusive holidays, flights and Transfers included please complete payments 45 days before travel for any enquiries please contact the booking team.</p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>

      </div>
    </div>


	 				 
  			

					
					
	 

		<div class="container-fluid">
		</div>
       
        

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
